<h5>Transcript</h5>
{% set lastspeaker = '' %}
<div class="tier-selector-processed navigation-processed">
   {% if has_speakers or has_tiers %}
    <div class="btn-group show-tick tier-selector">
      <button type="button" class="btn dropdown-toggle form-control selectpicker btn-default" title="Transcript, Speaker">
        <span class="filter-option pull-left">Show / Hide</span>&nbsp;
        <span class="caret"></span>
      </button>
      <div class="open dropdown-choices">
        <ul class="inner selectpicker" role="menu">

          {% for tier_key, tier_label in tiers %}
            <li>
              <a class="opt show-{{ tier_key }}" role="checkbox" aria-checked=true title="Toggle {{ tier_label }} on/off">{{ tier_label }} &nbsp;<i class="fa fa-check check-mark"></i></a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
   {% endif %}
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default previous" title="Previous line"><i class="fa fa-arrow-left"></i> Prev</button>
    <button type="button" class="btn btn-default sameagain" title="Same line"><i class="fa fa-sync"></i> Same</button>
    <button type="button" class="btn btn-default next" title="Next line"><i class="fa fa-arrow-right"></i> Next</button>
  </div>
</div>
<div class="transcript-container scroller scrolling-transcript-processed">
  <ul class="list-group">
    {% for key, item in transcript_content %}
      <li id="li_{{ key }}" data-start="{{ item.start }}" class="clearfix list-group-item transcripts-ui-tcu">
        <div class="clearfix tcu-info">
          <div class="play-button">
            <button type="button" class="btn btn-default btn-icon play-tcu timed" id="{{ item.start }}_{{ item.end }}" title="Play line"><i class="fa fa-play"></i> <small>{{ item.start_h }}</small></button>
          </div>
          {% if item.speaker is not empty and has_speakers is not empty %}
            <div class="speaker-name {% if item.speaker == lastspeaker %}{% endif %}{% if item.speaker != lastspeaker %}{% endif %}-speaker">
              <span data-speaker-display="or_speaker" class="speaker-display active">{{ item.speaker }}</span>
            </div>
            {% set lastspeaker = item.speaker %}
          {% endif %}
        </div>
        {% for tier_key, tier_label in tiers %}
        {% if tier_key == "title" %}
        <div id="tiers-{{ key }}-{{ tier_key }}" class="tiers {{ tier_key }}-tiers">
          <div data-tier="or_{{ tier_key }}" class="tier active">
          <h4 class="transcript-section-title">{{ attribute(item, tier_key) }}</h4></div>
          </div>
        {% else %}
          <div id="tiers-{{ key }}-{{ tier_key }}" class="tiers {{ tier_key }}-tiers">
          <div data-tier="or_{{ tier_key }}" class="tier active"><span class="tier-label">{{ tier_label }}: </span>
          {{ attribute(item, tier_key) }}</div>
          </div>
          {% endif %}
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
</div>
